
{% extends "base.html" %}
  {% block content %}
 <!-- try it with simple layout, make it pretty with bootsstrap afterwards-->

  {% for post in posts  %}

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.posttitle }}</a>
              <small class="text-muted">{{ post.postsubtitle }}</small>
            </div>
            <p class="article-content">{{ post.postcontent }}</p>
          </div>
        </article>

    {% endfor %}

{% endblock %} 