{% extends "base.html" %}
  {% block content %}
  
  <div id="hero">
    <div id="hero-left">
      <h1 id="top-titles" class="onetext">resume</h1>
      <nav class="navbar"> </nav>
    </div>
    <div id="hero-right">
      <p class="onetext"> I needed another canvas to reflect upon my goals, inspirations and accomplishements. Hence this website.   </p>
    </div>
  </div>

  <div class="post-container">
    <img class="img-fluid" src="/static/images/intropic.jpeg" alt="postcards with illustrations">
    <br>
    <br>
    <br>
    <br>
    
    <h2 class="nicetypo"> Hi there, </h3>
      <p>My name is Sarah Faber, I am 21 years old and I currently study product management in Berlin. I have recently decided to build my own website to challenge myself with software engineering stuff. </p>
      <br>
      <h2 class="nicetypo"> The PM in me tells me to switch to WordPress. The curious me tell me to keep on getting my hands dirty. </h2>
      <br>
      <p>Why? The main reason for my motivation must be the fact that I am confronted with it every day, yet for a long time, I chose to limit my understanding of the technologies to the basics. It feels like it is finally the right time to cross these lines and understand the tools that help me building new products. What is more, I work with very curious and talented Software Engineers on a daily basis and it bothers me that I struggle understanding their languages. I believe that my lack of experience slows our team progress down which I would like to avoid in the future. And last but not least I am a curious learner who is always eager to grow, so let's do this! Long story short, I try to reflect my personality and skills in a more user-friendly way than a boring resume. I hope you have fun discovering my personality!</p>
      <br>
      <a class="link-whitebg" href="static/images/Sarah_cv.pdf">view resume here.</a>
      <br>
    <br>
    <br>
    <br>
    </div>

  

{% endblock content %} 